.panda-bg-primary {
  background-color: #fceae8;
}

.categories img {
  width: 110px;
}
.categories h1 {
  color: white;
}
.bg-purple {
  background-color: orchid;
}
.bg-blue {
  background-color: blue;
}

.panda-btn-primary {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
